dagstermill
dagster==1.11.3
dagit==1.11.3
dagster-webserver==1.11.3
dagster-postgres==0.27.3
dagster-powerbi==0.27.3
sqlalchemy==2.0.0
pandas
pyodbc
openpyxl
xlwings
requests
flask
flask_httpauth
msal
pyopenssl
sendgrid
pyarrow
scikit-learn
scipy
pillow
azure_storage_blob
requests-cache
retry-requests
openmeteo-requests
currencyapicom
flowbyte
adlfs
prophet
numpy==1.26.4
selenium
webdriver-manager
seaborn
fake-useragent
mlxtend>=0.22.0
python-dotenv
duckdb
build
google-cloud-bigquery      
google-auth 
pandas-gbq 
chromadb
chromadb-client
openai
more-itertools
chromadb
chromadb-client
openai
more-itertools
